.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mannequin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dress-container {
  position: relative;
  margin-bottom: 10px;
}


.dress-overlay {
  width: 100%; /* adjust size as needed */
  height: 100%; /* adjust size as needed */
}


.close-button {
  background-color:#ff3f6c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 20px;
}


.create-button {
  background-color: #ff3f6c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.create-button:hover {
  background-color: #0056b3;
}

.create-button:focus {
  outline: none;
}
.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  background: #ff3f6c;
  color: white;
  border: none;
  cursor: pointer;
}
.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}